.navbar{
    padding: var(--spacing-sm) var(--spacing-md);
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: flex;
  gap: 1rem;
  transition: color 0.3s ease;
}
.navbar a{
    color: var(--color-text);
}
.navLink a:hover {
    color: var(--color-primary);
  }
  
@media (max-width: 768px) {
  .navbar{
    flex-direction: column;
  }
}